.OptionPage {
    color: #f1f1f1;
    font-size: 25px;
    position: absolute;
  
    right: 225px;
  
    top: 172px;
  
  }

  .D1 {
    color: #f1f1f1;
    font-size: 18px;

    text-align: center;
  }