.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color:#ffffff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border: 1px solid black !important;
}


.recenter {
  position: absolute;
  top: 15;
  left: 15
}

.table{
  font-size: 20px;
}

.modal-backdrop {
  z-index: 500 !important;
}

.nav a{
  font-size: 20px !important;
  }

.filternav {
  height: 350px;
  background-color:#ffffff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

}

/* The navigation menu links */

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 150%;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}